body {
  background-color: #fff;
}

.top-shade {
  background-color: #fff;
}

.video-main {
  background-color: #fff;
}

.chron-nav {
  visibility: collapse;
  background-color: #fff;
}

.chron-nav__hamburger {
  visibility: hidden;
  background-color: #fff;
}

.inplayer-paywall-login {
  float: right;
  margin-top: 60px;
  margin-right: 40px;
}

/** Inplayer account modal **/
.gkfMtI {
  background-color: #fff;
  color: #171717;
}

.gEvhs {
  bottom: unset;
  top: 70;
}

/** Inplayer account modal text **/
.hPwjHb {
  font-size: 1.8rem;
}

/**

.mod-categories {
  padding: 0;
}

.mod-playlist__autoplay .icon-container {
  background: #444;
}

.mod-playlist__description {
  color: #EEE;
}

.mod-headline {
  border-top: 1px solid #444;
}

.site-footer {
  border-top: 1px solid #444;
}

.site-content {
  border-bottom: 1px solid #444;
}

.site-footer {
  margin-top: 45px;
}

.site-nav__collections-item {
  visibility: collapse;
  width: 0px;
  margin: 0;
}

.mod-headline__reserve {
  width: 150px;
}

.Footer__ProtectedByWrapper-sc-5jp7z3-19 .gSfDEi {
  visibility: hidden;
}

**/
