body {
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.top-shade {
  background-color: #fff;
}

.video-main {
  background-color: #fff;
}

.chron-nav {
  visibility: collapse;
  background-color: #fff;
}

.chron-nav__hamburger {
  visibility: hidden;
  background-color: #fff;
}

.is-spaced {
  padding: 1rem 2rem;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  z-index: 1001;
  min-height: 50px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar, .navbar-menu, .navbar-start, .navbar-end {
  align-items: center;
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end {
  justify-content: flex-start;
  margin-left: auto;
}

.navbar-item {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.navbar-item.has-dropdown {
  align-items: stretch;
  padding: 0;
  pointer-events: none;
}

.navbar-dropdown {
  border-radius: 6px;
  border-top: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: block;
  opacity: 0;
  /*pointer-events: none;*/
  top: calc(100% + (-4px));
  transform: translateY(-5px);
  transition-duration: 86ms;
  transition-property: opacity, transform;
  font-size: 14px;
  left: 0;
  min-width: 100%;
  position: absolute;
  z-index: 20;
}

.navbar-end .auth-button {
  width: 130px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 0 0 2px #819EA6;
  margin-left: auto;
  cursor: pointer;
  height: 100%;
  float: right;
  margin-top: 60px;
  margin-right: 40px;
}






button {
  width: 130px;  /* This controls the size of the Login button. */
  background-color: #fff;  /* This controls the colour of the button. (#fff is White) */
  border-radius: 5px;
  padding: 10px;
  font-size: 14px; /* This controls the size of the font in the Login button. */
  border: none;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  margin-left: auto;
  cursor: pointer;
  height: 100%;
  
}

.acct-dropdown {
  width: 130px; /* This controls the size of the My Account menu button. */
  background-color: #fff;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  text-align: center;
}

.acct-dropdown .select {
  display: block;
  padding: 10px
}

/* Chevron icon */
.acct-dropdown .select>i {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px
}

.acct-dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}

.acct-dropdown:active {
  background-color: #f8f8f8;
}

.acct-dropdown.active:hover,
.acct-dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 5px 5px 0 0;
  background-color: #f8f8f8;
}

.acct-dropdown.active .select>i {
  transform: rotate(-90deg);
}

.navbar-end .acct-dropdown .dd-menu {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  transform: translateY(-5px);
  transition-duration: 86ms;
  transition-property: opacity, transform;
  text-align: center;
}

.acct-dropdown .dd-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.acct-dropdown .dd-menu li:hover {
  background-color: #d8e7eb;
}

.acct-dropdown .dd-menu li:active {
  background-color: #819EA6;
}

