body {
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  font-weight: 400;
  color: #819EA6;
}

.top-shade {
  background-color: #fff;
}

.video-main {
  background-color: #fff;
}

.chron-nav {
  display: none;
  background-color: #fff;
}

.chron-nav__hamburger {
  visibility: hidden;
  background-color: #fff;
}

.is-spaced {
  padding: 0 40px 0 40px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 20px 0 20px 0;
}

.navbar, .navbar-menu, .navbar-start, .navbar-end {
  align-items: center;
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-brand {
  cursor: pointer;
  height: 80px;
  padding: 0 15px 0 0;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item {
  padding: 0 30px 0 30px;
  cursor: pointer;
  white-space: nowrap;
}

.navbar-end.subscribe {
  padding-right: 30px;
}

.navbar-item.has-dropdown {
  align-items: stretch;
  padding: 0;
  pointer-events: none;
}

.navbar-dropdown {
  border-radius: 6px;
  border-top: none;
  box-shadow: 0 1px 2px #819EA6;
  display: none;
  /*pointer-events: none;*/
  top: calc(100% + (-4px));
  transform: translateY(-5px);
  transition-duration: 86ms;
  transition-property: opacity, transform;
  font-size: 16px;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: #fff;
}

.navbar-end .auth-btn {
  width: 130px;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 2px #819EA6;
  cursor: pointer;
}

.acct-dropdown {
  width: 130px; /* This controls the size of the My Account menu button. */
  color: #819EA6;
  background-color: #fff;
  box-shadow: 0 0 2px #819EA6;
  transition: all .2s ease;
  position: relative;
  text-align: center;
  z-index: 9;
}

.acct-dropdown .select {
  display: block;
  padding: 10px;
  cursor: pointer;
}

/* Chevron icon */
.acct-dropdown .select>i {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px
}

.acct-dropdown:hover {
  box-shadow: 0 0 4px #819EA6;
}

.acct-dropdown:active {
  background-color: #f8f8f8;
}

.acct-dropdown.active:hover,
.acct-dropdown.active {
  box-shadow: 0 0 4px #819EA6;
  border-radius: 5px 5px 0 0;
  background-color: #f8f8f8;
}

.acct-dropdown.active .select>i {
  transform: rotate(-90deg);
}

.navbar-end .acct-dropdown .dd-menu {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 1px 2px #819EA6;
  border-radius: 6px;
  transform: translateY(-5px);
  transition-duration: 86ms;
  transition-property: opacity, transform;
  text-align: center;
}

.acct-dropdown .dd-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.acct-dropdown .dd-menu li:hover {
  background-color: #d8e7eb;
}

.acct-dropdown .dd-menu li:active {
  background-color: #819EA6;
}

