.mod-categories {
  padding: 0;
}

.mod-playlist__autoplay .icon-container {
  background: #444;
}

.mod-playlist__description {
  color: #EEE;
}

.mod-headline {
  border-top: 1px solid #444;
}

.site-content {
  border-bottom: 1px solid #444;
}

.site-footer {
  margin-top: 45px;
}

.site-nav__collections-item {
  visibility: collapse;
  width: 0px;
  margin: 0;
}

.mod-headline__reserve {
  width: 150px;
}

/* Hide "Protected by InPlayer" line on paywall */
.Footer__ProtectedByWrapper-sc-5jp7z3-19 {
  visibility: hidden;
}

/* Hide pricing info on paywall */
.PaymentInfo__InfoHolder-sc-3k097-1 {
  display: none;
}

/* Hide credit card input form on paywall */
.CardPayment__Wrapper-cysy45-0 {
  display: none;
}

/* Hide 'Credit Card' header on paywall */
.shared__Header-sc-1whfsat-6 {
  display: none;
}

/* Straighten out the add voucher icon */
.hGPMpx {
  padding: 1px;
}
